### IntelliJ IDEA ###
/.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
Thumbs.db
ehthumbs.db
Icon?

# Maven target folder
/target/

# Maven Wrapper files
/.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Java build files
*.class
*.jar
*.war
*.ear